@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg')no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}


main {
    position: relative;
    height: 100vh;

}
section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    height:  627px;
    width: 311px;
    background-color: blue;
    background: url('../imagens/frame-iphone.png')no-repeat;
    
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;

}
section#redes-sociais img {
   text-align: center;
    width: 45px;
    margin: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ff0101,0 0 0 10px #ff0000ab, 0 0 0 20px #ff00004d, 0 0 0 25px #0004ff4d;


}
section#redes-sociais {
    text-align: right;
    
    
    
    

}